body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}
#region{
    position: relative;
    background: #DDD;
    border: 1px solid #999;
    width: 500px;
    height: 500px;
}
.circle{
    position: absolute;
    
    border: 1px solid black;
    border-radius: 100%;

    width: 50px;
    height: 50px;
}