* {
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181A20;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#users {
    font-size: 50px;
}

#trust {
    display: block;
}

.navbar {

    margin-inline: 5%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.login {
    list-style-type: none;
    border-radius: 5px;
    padding: 8px;
    background: #2b3139;
}

.login a {
    text-decoration: none;
    color: #eaecef;
    font-size: 14px;
}

.signin {
    list-style-type: none;
    border-radius: 5px;
    padding: 8px;
    background: #fcdc35;
}

.signin a {
    text-decoration: none;
    color: #202636;
    font-size: 14px;
}

.textbox {
    width: 90%;
    background: transparent;
    border: 1px solid #666;
    font-size: 16px;
    letter-spacing: 2px;
    padding-right: 40px;
    padding-left: 10px;
    color: white;
    opacity: 0.5;
}

section {
    background: #1e2329;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 4px 20px gray;
}

.indicator {
    position: relative;
    height: 4px;
    width: 20px;
    background: #fcdc35;
    left: 15px;
}

.coin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coin .heading {
    font: bold;
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.coin img {
    width: 28px;
}

.coin span {
    color: #888;
    font-size: 12px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.info #change {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}

@media(max-width:768px) {
    .container {
        width: 100%;
    }

    #users {
        font-size: 20px;
    }

    #trust {
        display: inline;

    }


}