* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #EEE;
    font-size: 0.9em;
    width: 260px;

}

.new_chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background: white;
    border: 1px solid gray;
    margin: 5px;
    line-height: 15px;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

aside h3 {
    font-weight: normal;
    color: #999;
}

aside li {
    line-height: 3em;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

aside li:hover {
    background-color: #CCC;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.versions {
    width: 300px;
    background: #CCC;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    margin-top: 25px;
    padding: 5px;
    align-items: center;
    position: relative;
}

.versions>div {
    flex: 1;
    text-align: center;
}

.versions .v35 {
    color: black;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    background: #EEE;
}

.versions #version_info {
    width: 300px;
    padding-block: 30px;
    padding-inline: 10px;
    border-radius: 10px;
    background: #EEE;
    position: absolute;
    top: 80px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    text-align: left;
}

.v35:hover #version_info {
    visibility: visible;
    opacity: 1;

}

#versions_info p {
    opacity: 0.5;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    gap: 25px;
    margin-bottom: 20px;
}

.tips {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 20px;
    padding: 5px;
    justify-content: space-between;
}

.tip {
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #CCC;
}

.tip span {
    opacity: 0.5;
}

.input {
    border-radius: 6px;
    background-color: #EEE;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.input input {
    border: 0;
    line-height: 2em;
    font-size: 1.2em;
    box-shadow: 0 0 15px rgba(0 0 0/0.1);
    flex-grow: 1;
}

#warning {
    opacity: 0.5;
}

.chatgpt {
    font-size: 25px;
    font-weight: bold;
    opacity: 0.5;
}

@media (max-width:768px) {
    aside {
        display: none;
    }
}

.help {
    background: blue;
    padding: 5px;
    border-radius: 7px;
    width: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: fixed;
    right: 10px;
    top: 10px;
    overflow: hidden;
    transition: all ease-in 0.5s;
    cursor:pointer;
    color: white;
}
.help:hover {
    width: 60px;
}