body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

main {

    border-radius: 10px;
    box-shadow: 1px 1px 50px gray;
    width: 800px;
    height: 800px;

    display: flex;
    flex-direction: column;

}

main p#name {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

main .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main .form input {

    background: rgb(161, 161, 161);
    color: rgb(24, 19, 19);
    font-size: 15px;
    box-shadow: 1px 1px 10px whitesmoke;
    border-radius: .5rem;
    padding: 5px;
    transition: all .5s ease-in-out;
    ;
}

main .form input::placeholder {
    color: black;
}

main .form input:focus {
    background: rgb(100, 100, 100);
}

main .form button {
    padding: 15px;
    background: rgb(83, 83, 83);
    padding-inline: 15px;
    width: 200px;
    color: rgb(210, 196, 196);
    box-shadow: 1px 1px 10px whitesmoke;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
}

main .form button:hover {
    background-color: aliceblue;
    color: gray;
}

main .watch {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

main .watch #time {
    font-size: 50px;
}

#h,
#m,
#s {
    color: white;
    text-shadow: 2px 4px 20px gray;
}

#timerDisplay {
    color: red;
    text-shadow: 1px 1px 10px red;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

main #theme {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

@media (max-width:768px) {
    main {
        width: 100%;
        height: 100vh;
        padding: 20px;
    }

    main .form input {
        width: 80%;
    }

    main .form button {
        width: 80%;
    }


}

.dot {
    position: relative;
    left: 30%;
    width: 25px;
    height: 25px;
    border-radius: 100%;

    border-width: 1px;
    box-shadow: 0px 0px 50px white;
    background-color: white;
    animation: anim 2s infinite;

}



@keyframes anim {
    0% {
        left: 30%;
        background-color: red;
    }

    25% {
        left: 50%;
        background-color: green;
    }

    50% {

        left: 70%;
        background-color: blue;
    }

    75% {
        left: 50%;
        background-color: green;
    }

    100% {
        left: 30%;
        background-color: red;
    }
}

.line {
    border: 1px solid white;
    position: relative;
    left: 30%;
    right: 30%;
    width: 40%;
    box-shadow: 1px 1px 50px gray;

}

