body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    margin: 0;
}

main {
    display: flex;
    height: 100vh;
}

aside {
    background: #EEE;
    font-size: 0.9em;
    width: 240px;
    padding: 1em;

}

section {
    max-width: 100vw;
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    justify-content: flex-start;
    align-items: center;
}

.chats {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    /* chatlar arası boşluk */
    margin-bottom: 2em;
    align-items: flex-start;
}

.chat {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em;
    background: #ddd;
    border-radius: 4px;
}

.new_chat {    
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0.5em 1em;
    cursor: pointer;
}

.info {

    border: 1px solid black;
    border-radius: 2px;
    justify-items: center;

}

.suggestions {
    
    margin-top: auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 0px;
}
.suggestions *{
    padding-inline:10px;
}

#input {
    display: flex;
    flex-direction: row;
    border: 4px solid#EEE;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 20px;

}

#input input {
    width: 60vw;
    border: 1px;
    height: 40px;
    max-width: 800px;
    font-size: 1.2em;
    box-shadow: 0 0 15px rgba(0 0 0 / 0.1);
    padding: 0 10px;

}

#versions , .info{

    justify-content: center;
    display: flex;

    max-width: 600px;
    gap: 6px;

}
#versions{
    margin-top: auto;
    margin-bottom: 20px;
}

#version1,
#version2 {
    flex: 1;
    display: flex;
    /* içeriği yatayda diz */
    align-items: center;
    /* dikeyde ortala */
    justify-content: space-between;
    /* elemanları kutuda yay */
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;

}

#version1 p,
#version2 p {
    margin: 0 5px;
    /* yazı ile ikon arasına boşluk */
}

#version1:hover, #version2:hover{
    background: #EEE;
    transition: all ease-in-out 0.6sn;
}


@media (max-width: 768px){
    aside{
        display: none;
    }
}